@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000300;
}
.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.jobList {
  list-style-type: none;
}
